// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "modules/base";
@import "modules/text";

.home {
  position: relative;
  height: 100%;
  width: 100%;

  & .welcome {
    width: 100%;

    &__message {
      font-family: $text__family--heavy;
      font-size: 18px;
      text-align: center;
      color: rgba(white, 0.25);
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &__title {
      font-family: $text__family--heavy;
      font-size: 24px;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 10px;
      color: rgba(white, 0.5);
    }

    &__subtitle {
      font-family: $text__family--heavy;
      font-size: 18px;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 10px;
      color: rgba(white, 0.5);
    }

    &__profile-pic {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      filter: grayscale(1);
    }
  }

  & .introduction {
    padding: 0 20px;
  }
}