<div class="navigation">

  <div class="top">
    <div class="top__invke">
      <a href="/home/index" class="">invke</a>
    </div>
  </div>

  <div class="networking">
    <%# github link %>
    <div class="networking__site networking__site--github">
      <a class="fa fa-2x fa-github"></a>
    </div>
    <%# stack overflow link %>
    <div class="networking__site networking__site--stack-overflow">
      <a class="fa fa-2x fa-stack-overflow"></a>
    </div>
  </div>

  <nav class="macro-nav">

    <ul class="macro-nav__wrapper">
      <li class="macro-nav__item active">
        <a href="/about/index">
          <i class="macro-nav__item-emblem"></i>
          <span class="macro-nav__item-text">about</span>
        </a>
      </li>
      <li class="macro-nav__item">
        <a href="/portfolio/index">
          <i class="macro-nav__item-emblem"></i>
          <span class="macro-nav__item-text">portfolio</span>
        </a>
      </li>
      <li class="macro-nav__item">
        <a href="/gallery/index">
          <i class="macro-nav__item-emblem"></i>
          <span class="macro-nav__item-text">gallery</span>
        </a>
      </li>
      <li class="macro-nav__item">
        <a href="/blog/index">
          <i class="macro-nav__item-emblem"></i>
          <span class="macro-nav__item-text">blog</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
