<% provide(:title, "invke") %>

<div class="container-fluid index">
  <div class="index__header">
    <h1 class="text--spaced-100 elem--inline text--normal">INVKE</h1>
  </div>

  <div class="index__left">
    <ul class="left-nav">
      <li class="left-nav__item text--square text--spaced-20">
        <a href="about/index">ABOUT</a>
      </li>
      <li class="left-nav__item text--square text--spaced-20">
        <a href="portfolio/index">PORTFOLIO</a>
      </li>
      <li class="left-nav__item text--square text--spaced-20">
        <a href="gallery/index">GALLERY</a>
      </li>
      <li class="left-nav__item text--square text--spaced-20">
        <a href="blog/index">BLOG</a>
      </li>
    </ul>
  </div>

  <div class="index__footer">
    <h2 class="text--line">
      <span class="text--muted text--line">The personal website of</span>
      <br/>
      Montgomery C. Anderson
    </h2>
  </div>
</div>
