<% provide(:title, "invke") %>

<div class="home">

  <div class="welcome">

    <!--<p class="welcome__message text&#45;&#45;engraved">
      Welcome to the personal website & portfolio of . . .
    </p>-->

    <br/>
    <br/>
    <br/>

    <div class="welcome__bottom">
      <h1 class="welcome__title">
        - Montgomery C. Anderson -
      </h1>
      <!--<h2 class="welcome__subtitle">
        Software Engineer
      </h2>-->
    </div>

    <div class="welcome__profile-pic">
      <div class="profile-pic">
        <div class="profile-pic__inner">
          <div class="profile-pic__picture"></div>
          <div class="profile-pic__corner profile-pic__corner--top-left"></div>
          <div class="profile-pic__corner profile-pic__corner--top-right"></div>
          <div class="profile-pic__corner profile-pic__corner--bottom-left"></div>
          <div class="profile-pic__corner profile-pic__corner--bottom-right"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="introduction">
    <p>

    </p>
  </div>

  <br/>
</div>