// Primary colour and variations
//$color__primary: #FFF !default;
//$color__primary: #202027 !default;
$color__primary: #111 !default;
$color__primary--faded: rgba($color__primary, 0.5);
$color__primary--dark: #302829 !default;
$color__primary--brown: #35242b !default;
// Secondary colour and variations
//$color__secondary: #000 !default;
$color__secondary: #FFF !default;
// Accent colours
$color__accent--alpha: #5552b1 !default;
$color__accent--beta: #56b55d !default;
$color__accent--charlie: #ff6631 !default;
$color__accent--delta: #ff72a7 !default;

// Base font variables
$base__font-size: 14 !default;
$base__line: 20 !default;

// Dimension vars
$size__width--xs: 575px; // lte
$size__width--sm: 576px; // gte
$size__width--md: 768px; // gte
$size__width--lg: 992px; // gte
$size__width--xl: 1200px; // gte

.hide {
  display: none;
  &--xs {
    @media (max-width: $size__width--sm - 1px) {
      display: none;
    }
  }
  &--sm {
    @media (min-width: $size__width--sm) and (max-width: $size__width--md - 1px) {
      display: none;
    }
  }
  &--md {
    @media (min-width: $size__width--md) and (max-width: $size__width--lg - 1px) {
      display: none;
    }
  }
  &--lg {
    @media (min-width: $size__width--lg) and (max-width: $size__width--xl - 1px) {
      display: none;
    }
  }
  &--xl {
    @media (min-width: $size__width--xl) {
      display: none;
    }
  }
}