$color__primary--light: #FFFFFF !default;
$color__primary: #C1C1C1 !default;
$color__primary--dark: #302829 !default;
$color__primary--brown: #35242b !default;
$color__primary--faded: rgba(#EEE, 0.5);

$color__accent--alpha: #ff6631 !default;
$color__accent--beta: #22b1c9 !default;
$color__accent--charlie: #56b55d !default;
$color__accent--delta: #ff72a7 !default;

$base__font-size: 14 !default;
$base__line: 20 !default;

// Dimension vars
$size__width--xs: 576px; // lt
$size__width--sm: 576px; // gte
$size__width--md: 768px; // gte
$size__width--lg: 992px; // gte
$size__width--xl: 1200px; // gte