@import "base";

$text__family--sans: 'Poppins', 'Helvetica Neue', sans-serif;
$text__family--cursive: 'Pacifico', cursive;
$text__family--handwritten: 'Handlee', cursive;
$text__family--heavy: 'Comfortaa', 'Helvetica Neue', sans-serif;
$text__family--tall: 'Wire One', 'Helvetica Neue', sans-serif;
$text__family--square: 'Comfortaa', 'Helvetica Neue', sans-serif;
$text__family--line: 'Poiret One', 'Helvetica Neue', sans-serif;

$text__color--base: #333 !default;
$text__color--dark: $color__primary--dark !default;
$text__color--muted: #999 !default;
$text__color--alpha: $color__accent--alpha !default;
$text__color--beta: $color__accent--beta !default;
$text__color--charlie: $color__accent--charlie !default;
$text__color--delta: $color__accent--delta !default;

@mixin text($size, $line, $margin: 0, $family: $text__family--sans, $color :$text__color--base, $weight: normal) {
  font-size: $size * 1px;
  line-height: ($line / $size);
  font-family: $family;
  color: $color;
  margin-bottom: $margin;
  font-weight: $weight;
}

p, span {
  @include text($base__font-size, $base__line, $color: $text__color--base)
}

h1 {
  @include text(64, 64, $family: $text__family--square, $color: $text__color--dark, $weight: bold);
}

h2 {
  @include text(24, 24, $family: $text__family--square, $color: $text__color--dark, $weight: bold);
}

h3 {
  @include text(20, 20, $family: $text__family--square, $color: $text__color--dark, $weight: bold);
}

h4 {
  @include text(18, 18, $family: $text__family--square, $color: $text__color--dark, $weight: bold);
}

h5 {
  @include text(16, 16, $family: $text__family--square, $color: $text__color--dark, $weight: bold);
}

h6 {
  @include text(14, 14, $family: $text__family--square, $color: $text__color--dark, $weight: bold);
}

.text--md {
  font-size: 24px;
}

.text--muted {
  color: $text__color--muted !important;
}

.text--sticker {
  @include text($base__font-size, $base__line, $color: $color__primary--light, $weight: 300);
  padding: 2px;
  display: inline-block;
  margin: 2px 0;
  background-color: $color__accent--alpha;
}

.text--white {
  color: $color__primary--light !important;
}

.text--spaced-100 {
  letter-spacing: 100px;
}

.text--spaced-40 {
  letter-spacing: 40px;
}

.text--spaced-20 {
  letter-spacing: 20px;
}

.text--accent {
  color: $color__accent--alpha;
}

.text--handwritten {
  font-family: $text__family--handwritten;
}

.text--square {
  font-family: $text__family--square;
}

.text--line {
  font-family: $text__family--line;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--emph {
  text-shadow: 2px 2px 25px #fff;
}

.text--normal {
  font-weight: normal !important;
}

.text--col-a {
  color: $text__color--alpha !important;
}

.text--col-b {
  color: $text__color--beta !important;
}

.text--col-c {
  color: $text__color--charlie !important;
}

.text--col-d {
  color: $text__color--delta !important;
}

.text--engraved {
  text-shadow: 0px 1px 0px rgba(white, .3), 0px -1px 0px rgba(black, .3);
}