<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

<!--
<div class="container content__about">

  &lt;!&ndash; Portfolio header &ndash;&gt;
  <div class="header">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="header__profile-pic">
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
      <h1 class="header__title">Montgomery C. Anderson</h1>
    </div>
  </div>

  &lt;!&ndash; Introductory information &ndash;&gt;


  <div class="info row">
    <div class="col-xs-12">
      <h3 class="info__header">Hello,</h3>
      <h3 class="info__header">welcome to my portfolio website!</h3>
      <br>
      <h3 class="info__header">Who am I?</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="info__content">
        <p class="info__text">
          Well .. I've always found that quite a hard question. To start, I am a young software engineer by training, full stack developer by experience, and hobbyist artist by past-time ...
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="info__content">
        <p class="info__text">
          ... but that'd be a pretty narrow description of me, so I've thrown in a bunch of other "tags" for fun
          <br>
          <br>
          <span class="text&#45;&#45;sticker">fun-lovin'</span>
          <span class="text&#45;&#45;sticker">open-minded</span>
          <span class="text&#45;&#45;sticker">green-thumbed</span>
          <span class="text&#45;&#45;sticker">amateur-photographer</span>
          <span class="text&#45;&#45;sticker">wannabe-oil-painter</span>
          <span class="text&#45;&#45;sticker">tree-enthusiast</span>
          <span class="text&#45;&#45;sticker">hopeful-game-developer</span>
          <span class="text&#45;&#45;sticker">procedural-generator</span>
          <span class="text&#45;&#45;sticker">aspiring-web-designer</span>
          <span class="text&#45;&#45;sticker">pragmatic-programmer</span>
          <span class="text&#45;&#45;sticker">perpetual-brainstormer</span>
          <span class="text&#45;&#45;sticker">logical-thinker</span>
          <span class="text&#45;&#45;sticker">hobbyist-iron-pumper</span>
          <span class="text&#45;&#45;sticker">wave-wipeout-champion</span>
          <span class="text&#45;&#45;sticker">snow-surfer</span>
        </p>
      </div>
    </div>
  </div>

  <div class="about-content row">
    <div class="about-content__left-column col-xs-12 col-sm-6 col-md-8">

      <div class="info row">
        <div class="col-xs-12">
          <h3 class="info__header">What do I do for work?</h3>
          <div class="info__content">
            <p class="info__text">
              Well, previously I've been working contractually as a full-stack developer and consultant, but as of recently
              I am looking for an exciting new working experience in an innovative company - where I can grow as a programmer
              and gain the some mentorship in the industry.
            </p>
          </div>
        </div>
      </div>

      <div class="info row">
        <div class="col-xs-12">
          <h3 class="info__header">Now then ..</h3>
          <h3 class="info__header">What do I do for fun?</h3>
          <div class="info__content">
            <p class="info__text">
              Lots of things! If the waves are good I can be found surfing, if the snow is good I'll be up the mountain
              snowboarding and if either fails I get my exercise from the gym.
              <br>
              <br>
              Outside of my sports you'll often find me playing around on my personal programming projects or
              working on some of my more artistic projects, either drawings, paintings or more
              recently photography.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-content__right-column col-xs-12 col-sm-6 col-md-4">
      &lt;!&ndash;<div class="info row">
        <div class="col-xs-12">
          <div class="info__network">
            <a href="https://stackoverflow.com/users/3133507/invke"
               alt="https://stackoverflow.com/users/3133507/invke"
               class="info__network__icon fa fa-3x fa-stack-overflow"></a>
          </div>
          <div class="info__network">
            <a href="https://github.com/invke"
               alt="https://github.com/invke"
               class="info__network__icon fa fa-3x fa-github"></a>
          </div>
        </div>
      </div>&ndash;&gt;

      <div class="info row">
        <div class="col-xs-12">
          <i class="info__icon info__icon&#45;&#45;networking fa fa-stack-overflow"></i>
          <i class="info__icon info__icon&#45;&#45;networking fa fa-github"></i>
        </div>
      </div>

      <div class="info row">
        <div class="col-xs-12">
          <i class="info__icon glyphicon glyphicon-education"></i>
          <div class="info__content info__content&#45;&#45;left-icon">
            <div class="info__text&#45;&#45;clear">
            <span>
              BE (Hons) in Software Engineering
            </span>
            <br>
            <span class="text&#45;&#45;muted">
              University of Canterbury, New Zealand
            </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info__picture info__picture&#45;&#45;300">
          </div>
        </div>
      </div>
    </div>
  </div>

  &lt;!&ndash;<div class="header__info">
    <span class="info__text"><i class="info__icon glyphicon glyphicon-education"></i> Bachelor of Engineering in Software Engineering with Honours</span>
    <br>
    <span class="info__text"><i class="info__icon  fa fa-birthday-cake"></i> October 20th, 1993, age: 23</span>
    <br>
    <span class="info__text"><i class="info__icon  fa fa-at"></i> October 20th, 1993, age: 23</span>
  </div>&ndash;&gt;

&lt;!&ndash;
  <div class="row header">
    <div class="col-md-4 col-sm-12">
      <div class="header__profile-pic">
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <h1 class="header__title">Montgomery Charles Anderson</h1>
      <span class="header__sub-title">Pragmatic & Creative</span>
      <div class="header__info">
        <span class="info__text"><i class="info__icon glyphicon glyphicon-education"></i> Bachelor of Engineering in Software Engineering with Honours</span>
        <br>
        <span class="info__text"><i class="info__icon  fa fa-birthday-cake"></i> October 20th, 1993, age: 23</span>
      </div>
      <div class="header__networking">
        <a class="networking__github" href="https://github.com/invke"><i class="fa fa-3x fa-github"></i></a>
        <a class="networking__stack-overflow" href="https://stackoverflow.com/users/3133507/invke"><i class="fa fa-3x fa-stack-overflow"></i></a>
      </div>
      &lt;!&ndash;<div class="col-xs-12 header-splitInfo">
        <div class="col-xs-12 col-sm-6">
          <h3 class="header-info">Programmer</h3>
          <span><b>Experience:</b> 5 years, 8 months</span>
          <br>
          <span><b>Languages:</b> C# .NET, C++ w/ OpenGL, Javascript, HTML, CSS, Rails</span>
          <br>
          <span><b>Practices:</b> TDD, BEM, Peer Programmer</span>
          <br>
          <span><b>Environments:</b> OSX Jetbrains IDEs & Win10 with VS for .NET</span>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="header-info">Creative</h3>
          <span><b>Experience:</b> Lifelong hobby</span>
          <br>
          <span><b>Drawing:</b> Detailed Pencil Sketching lifelong</span>
          <br>
          <span><b>Painting:</b> Acrylic on canvas occasionally</span>
          <br>
          <span><b>Photography:</b> Novice</span>
        </div>
      </div>&ndash;&gt;
    </div>
  </div>
&ndash;&gt;

  &lt;!&ndash; Personal statement &ndash;&gt;
  &lt;!&ndash;<div class="row intro">
    <div class="col-sm-12">
      <br>
      <br>
      <br>
      <br>
      <h4>Who am I?</h4>
      <p>
        Well .. my name is Monty, I'm a young (23) software engineer by training (BE w/ hons) and art hobbyist by past-time.
      </p>
      <h4>What do I do for work?</h4>
      <p>
        Well, so far I've lately been working by contract as a full-stack developer and consultant, but currently
        I am looking for new working experience in an innovative company, which will help me grow as a programmer and provide
        great oppurtunities for learning and mentorship.
      </p>
      <h4>What do I do in my own time?</h4>
      <p>
        Surfing (if the waves are good), snowboarding (if the snow is good), workout (if neither the waves or snow is good).
        I am also often sketching, painting, underestimating how hard it is to take good photos, reading or brainstorming
        ideas.
      </p>
      <h4>Why did I become a programmer?</h4>
      <p>
        When I was at high school I studied sciences and painting and like many 18 year olds, upon finishing secondary
        education and completely bereft of certainty in what I wanted to do - I went to university to study engineering.
        Upon starting my studies I took COSC121, an introduction into computer science with Python as many BE students do,
        and as a result met my passion for the first time. The logical pragmatic thinking and problem solving had me hooked
        and in no time at all I switched enrolment into the University of Canterbury's first year of a new software
        engineering programme.
      </p>
      <h4>Got any personal projects?</h4>
      <p>
        Yes! I aim to maintain two consecutive personal coding projects, one is an OpenGL 4 pipeline project. I have always
        had a unique fascination with natural terrain and it's form and am giving it a go creating my own unique procedural
        worlds. This project heavily works within the OpenGL 4.2 pipeline, utilising a variety of shader techniques,
        freetype for font-rendering, written within the realms of C++ & GLSL and built with CMAKE.
        <br>
        My other project currently is this portfolio, where I am learning Ruby, Rails, SCSS and BEM.
      </p>
      <h4>I've still got questions!</h4>
      <p>
        Well then, don't hesitate to flick me an email at example.com
      </p>
    </div>
  </div>&ndash;&gt;

  &lt;!&ndash; Skills &ndash;&gt;

</div>
-->
